@font-face {
    font-family: 'borsok'; 
    src: url('Fonts/boorsok.otf') format('opentype');
}
.body{
    background-color: #393e46;
    font-family: 'borsok', sans-serif;
    font-weight: 100;
    /* background-image: url('Images/Frame_33.png');
    background-size: 3000px;
    background-position: -300px;
    background-repeat: no-repeat; */

    background-image: url('Images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div{
    margin-top: -50px;
}
.timer{
    font-size: 17vw;
    /* margin-top: 30px;  */
    /* color: #00d4df;
    color: linear-gradient(45deg, #FF00FF, #00FFFF); */

    background: linear-gradient(180deg, #fa97cb, #4e99e4); /* Градиентные цвета */
    background-clip: text; /* Применение фона только к тексту */
    -webkit-background-clip: text; /* Для совместимости с некоторыми браузерами */
    color: transparent;
}

.header{
    font-size: 9vw;
    color: linear-gradient(45deg, #FF00FF, #00FFFF);
    /* color: #00d4df; */
    margin-top: 50px;
}

.button{
    margin-top: 20px;
    width: 40vw;
    padding: 20px 20px 10px 20px; 
    border: none;
    border-radius: 30px; 
    /* background-color: #00d4df;  */
    background: linear-gradient(180deg, #fa97cb, #4e99e4);
    color: #fff; 
    font-size: 9vw; 
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
}
