@font-face {
    font-family: 'borsok'; 
    src: url('Fonts/boorsok.otf') format('opentype');
}
.body{
    background-color: #393e46;
    font-family: 'borsok', sans-serif;
    font-weight: 100;
}
.content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div{
    
}
.timer{
    font-size: 17vw;
    margin-top: 30px; 
    color: #00d4df;
    /* color: #2980b9; */
    /* font-family: 'Source Code Pro', monospace;  */
}

.header{
    font-size: 9vw;
    color: #00d4df;
    /* color: #2980b9; */
    margin-top: 50px;
}

.button{
    margin-top: 20px;
    width: 40vw;
    padding: 18px 20px 10px 20px; 
    border: none;
    border-radius: 30px; 
    background-color: #00d4df; 
    color: #fff; 
    font-size: 8vw; 
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
}